<div class="container--nav__bar">
  <div class="row">
    <div class="fourcol nav__logo">
      MY BIG FAT LOGO
    </div>
    <div class="eightcol last">
      <%= link_to "Calendar", "#", class: "nav__link" %>
      <%= link_to "Blog", "#", class: "nav__link" %>
      <%= link_to "Profile", "#", class: "nav__link" %>
      <%= link_to "Sign In / Register", class: "nav__link" %>
      <%= link_to "Admin", "#", class: "nav__link" %>
    </div>
  </div>
</div>
