<%
  events_current = current_page(events_path)
  blog_current = current_page(blog_posts_path)
  home_current = current_page(root_path)
  login_current = current_page(login_path)
  admin_current = current_page(admin_dashboard_index_path) ||
                  current_page(admin_blog_posts_path) ||
                  current_page(admin_root_path) ||
                  current_page(admin_wods_index_path)
%>

<div class="container--nav__bar">
  <div class="row">
    <div class="fourcol nav__logo">
      <%= link_to root_path do %>
        <%= image_tag "pc.png", alt: "predator camp PC logo", class: "nav__logo--image" %>
        <div class="nav__logo--title-box">
          <p class="nav__logo--title">
            Predator Camp
          </p>
          <p class="nav__logo--subtitle">
            Conditioning, Knowlege, Preparation
          </p>
        </div>
      <% end %>
    </div>
    <div class="eightcol container--nav__links last">

      <%# if current_user %>
        <%= link_to "CALENDAR", events_path, class: "nav__link #{events_current}" %>
      <%# else %>
        <%#= link_to "HOME", root_path, class: "nav__link #{home_current}" %>
      <%# end %>
      <%= link_to "BLOG", blog_posts_path, class: "nav__link #{blog_current}" %>
      <%= link_to "PROFILE", "#", class: "nav__link" %>
      <% if current_user %>
        <%= link_to "SIGNOUT", destroy_user_session_path, method: :delete, class: "nav__link" %>
      <% else %>
        <%= link_to "SIGNIN / REGISTER", login_path, class: "nav__link #{login_current}" %>
      <% end %>
      <% if current_user && current_user.has_role?(:admin) %>
        <%= link_to "ADMIN", admin_dashboard_index_path, class: "nav__link #{admin_current}" %>
      <% end %>
    </div>
  </div>
</div>