<div class="container">
  <div class="row">
    <div class="block threecol">
      <%= link_to admin_dashboard_index_path do %>
        <%= image_tag "blog-icon.png", alt: "blog icon", class: "admin--nav__icon" %>
      <% end %>
    </div>

    <div class="block threecol">
      <%= image_tag "wod-icon.png", alt: "blog icon", class: "admin--nav__icon" %>
    </div>

    <div class="block threecol">
      <%= image_tag "bounty-hunter.png", alt: "blog icon", class: "admin--nav__icon" %>
    </div>

    <div class="block threecol last">
      <%= image_tag "calendar-icon.png", alt: "blog icon", class: "admin--nav__icon" %>
    </div>
  </div>
</div>