<%= form_for [:admin, @blog_post ] do |f| %>

  <%= f.hidden_field :user_id, value: current_user.id %>

  <fieldset>
    <%= f.label :title, "Title this post *", class: "form_label" %>
    <%= f.text_field :title, class: "form_field" %>
  </fieldset>

  <div class="row">
    <fieldset class="sixcol">
      <%= f.label :pub_status, "Set publication status for this post *" %>
      <%= f.select :pub_status, options_for_select(BlogPost::PUB_OPTIONS), selected: @blog_post.pub_status %>
    </fieldset>

    <fieldset class="sixcol last">
      <%= f.label :featured, "Feature this post?" %>
      <%= f.check_box :featured, checked: @blog_post.featured %><span class="note padded">Yes feature this post!</span>
    </fieldset>
  </div>

  <fieldset>
    <%= f.label :summary, "Write a summary / tag line for this post *" %>
    <%= f.text_field :summary %>
  </fieldset>

  <fieldset>
    <%= f.label :body, "Body *" %>
    <%= f.cktext_area :body %>
  </fieldset>


  <%= f.submit %>

<% end %>


