<!DOCTYPE html>
<html>
  <head>
    <%= render "shared/meta_tags" %>
  </head>
  <body>
    <%= render "shared/header" %>
    <div class="container--content">
      <%= yield %>
    </div>
    <div class="container">
      <% if flash[:notice] %>
        <div class="alert alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:notice] %>
        </div>
        <% elsif flash.now[:alert] %>
          <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= flash.now[:alert] %>
          </div>
        <% elsif flash[:alert] %>
          <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="allert">&times;</button>
            <%= flash[:alert] %>
          </div>
        <% end %>
      </div>
  </body>
</html>
